---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
    {
        title: 'Sede Regional del SENA - Promotor de Inteligencia Artificial',
        description: 'Promuevo el uso de IA en la institución.',
        date: 'Abril 2025 - Actualmente',
    },
    {
        title: 'Servicio Nacional de Aprendizaje SENA - Desarrollador y Diseñador de Software',
        description: 'Diseñé y desarrollé un simulador de farmacia en realidad virtual utilizando Unity, abarcando procesos clave como proveedores, adquisición, recepción administrativa y técnica, almacenamiento y dispensación. Generé embeddings para optimizar el procesamiento semántico y la comprensión del lenguaje natural de una inteligencia artificial. Modelé, texturicé y animé un rostro 3D en Blender para representar visualmente una inteligencia artificial, logrando una interacción más inmersiva y atractiva para los usuarios. Integré el rostro animado y sus texturas en un aplicativo web desarrollado en React, asegurando transiciones suaves y sincronización de animaciones durante las interacciones de la IA. Artículo publicado en el portal de la revista SENA: https://revistas.sena.edu.co/index.php/rediis/article/view/7142',
        date: 'Mayo 2024 - Diciembre 2024',
    },
    {
        title: 'Toy Cantando - Desarrollador Multiplataforma',
        description: 'Desarrollé y mantuve 11 aplicativos móviles en Unity, Android Studio y Xcode, utilizando principalmente C#, JAVA y XML, con conocimientos básicos en Swift, SwiftUI y UIKit. Logré dar mantenimiento efectivo a aplicaciones en diversas plataformas, implementar Firebase y AdMob en proyectos para Android e iOS, actualizar constantemente contenido en Google Play Console y App Store Connect, crear estrategias de campaña en Google ADS, y monitorear métricas en Google Play Console, Google AdMob, Google ADS y App Store Connect.',
        date: 'Noviembre 2022 - Octubre 2023',
        link: 'https://play.google.com/store/apps/developer?id=Canciones+Infantiles+Toycantando&hl=es',
    },
    {
        title: 'GuruSoft - Desarrollador Front-End',
        description: 'Desarrollé el front-end de un aplicativo de facturación electrónica utilizando HTML5, CSS3 y JS puro (sin frameworks de JavaScript). Implementé AJAX para el consumo de APIs y Bootstrap 5 como framework de diseño. Entre mis logros destacan: optimizar la experiencia del usuario con una interfaz intuitiva y funcional, lograr una integración eficiente de APIs con comunicación rápida entre front-end y back-end, implementar estándares web modernos para asegurar compatibilidad y rendimiento óptimo, y desarrollar un diseño responsivo que funciona tanto en dispositivos móviles como de escritorio.',
        date: 'Septiembre 2021 - Febrero 2022',
    },
    {
        title: 'Hewtec - Very High Technology For World - Desarrollador de cursos e-learning',
        description: 'Diseñé, implementé y desarrollé diversos cursos e-learning para la Policía Nacional utilizando Blender, Storyline 360, Captivate, Photoshop e Illustrator. Mis logros incluyen: crear contenido interactivo y atractivo con modelado 3D y gráficos de alta calidad; desarrollar experiencias de aprendizaje inmersivas con cursos interactivos que incorporan escenarios realistas y simulaciones específicas; optimizar el proceso de aprendizaje mediante animaciones 3D y gráficos explicativos para facilitar la comprensión de conceptos complejos; asegurar la compatibilidad con plataformas LMS y estándares SCORM; y colaborar con equipos multidisciplinarios para desarrollar contenido personalizado alineado con los objetivos de formación de la Policía Nacional.',
        date: 'Octubre 2020 - Marzo 2021',
    },
    {
        title: 'Freelance - Desarrollador en Unity',
        description: 'Trabajé como freelancer en el diseño y programación de una aplicación de realidad virtual llamada Health Pro durante un total de 8 meses. El proyecto se desarrolló en dos fases: la primera duró 6 meses (del 1 de abril al 30 de septiembre de 2020) y la segunda abarcó 2 meses (del 1 de junio al 31 de julio de 2021).',
        date: '8 Meses',
    },
    {
        title: 'Servicio Nacional de Aprendizaje SENA - Desarrollador y Diseñador de Software',
        description: 'Diseñé, implementé y desarrollé un simulador de resonancias magnéticas utilizando Unity y C#, con interfaces de usuario creadas mediante Photoshop e Illustrator. Entre mis logros se incluyen: completar el desarrollo al 100%, presentar exitosamente el proyecto en un simposio, y conceptualizar y diseñar el Trailer/Gameplay del software utilizando Adobe Premier y After Effects.',
        date: 'Abril 2019 - Septiembre 2019',
    },
]
---


<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2.5">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-6">        
                <ExperienceItem 
                    title={experience.title} 
                    description={experience.description} 
                    date={experience.date} 
                    link={experience.link} 
                />
            </li>
        ))
    }
</ol>

